@{
    ViewBag.Title = "Index";
}

<link href="~/Content/bootstrap-table.min.css" rel="stylesheet" />

<h3>用户管理</h3>
<div class="row">
    <div class="col-md-12">
        <div class="portlet light portlet-fit portlet-datatable bordered">
            <div class="portlet-body">
                <div class="table-contaoner">
                    <table id="table"></table>
                    <div id="toolbar">
                        <div class="btn-group">
                            <a href="#" data-toggle="modal" id="createProject" class="btn btn-success" role="button">
                                新增&nbsp;<i class="glyphicon glyphicon-plus-sign"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="InserModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document" style="background-color:#fff">
        <div class="modal-header">
            <button type="button" class="close" data-dissmiss="modal" aria-label="Close">
                <span aria-hidden="true"></span>
            </button>
            <h4 class="modal-title">用户管理</h4>
        </div>
        <div class="modal-body" id="InserModal-body">

        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" onclick="SysUserInserHide()">关闭</button>
            <button type="submit" class="btn btn-primary" onclick="SysUserInserSubmit()">提交</button>
        </div>
    </div>
</div>

<div class="modal fade" id="UpdateModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document" style="background-color:#fff">
        <div class="modal-header">
            <button type="button" class="close" data-dissmiss="modal" aria-label="Close">
                <span aria-hidden="true"></span>
            </button>
            <h4 class="modal-title">用户管理</h4>
        </div>
        <div class="modal-body" id="UpdateModal-body">

        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" onclick="SysUserUpdateHide()">关闭</button>
            <button type="submit" class="btn btn-primary" onclick="SysUserUpdateSubmit()">修改</button>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/Scripts/bootstrap-table.min.js"></script>
    <script src="~/Scripts/bootstrap-table-zh-CN.min.js"></script>
    <script>
        $("#createProject").click(function () {
            $.ajax({
                    url: "Insert",
                    method: "get",
                    success: function (result) {
                        $("#InserModal-body").html(result);
                        $("#InserModal").modal();
                    }
            });
        });

        $(function () {
            Init();
        })

        function Init() {
            
            $('#table').bootstrapTable({
                url: "/SystemManage/User/ParPagingList",//数据源
                dataField: "rows",//服务端返回数据键值
                search: true,//是否搜索
                pagination: true,//是否分页
                pageSize: 10,//单页记录数
                pageList: [5, 10],//分页步进值
                sidePagination: "server",//服务端分页
                contentType: "application/json",
                dataType: "json",//期待返回数据类型
                method: "post",//请求方式
                searchAlign: "left",//查询框对齐方式
                queryParamsType: "limit",//查询参数组织方式
                queryParams: function getParams(params) {
                    var temp = {
                        PageSize: params.limit,//每页显示数量
                        PageIndex: (params.offset / params.limit) + 1,//当前页码
                        order: "asc",
                        sort: params.sort,
                        Search: params.search
                    };
                    return temp;
                },
                searchOnEnterKey: true,//回车搜索
                showRefresh: true,//刷新按钮
                showColumns: true,//列选择按钮
                buttonsAlign: "left",//按钮对齐方式
                toolbar: "#toolbar",//指定工具栏
                toolbarAlign: "right",//工具栏对齐方式
                columns: [
                    {
                        field: "id",
                        title: "Id",
                        visible: false
                    },
                    {
                        title: '序号',
                        align: "center",
                        width: 40,
                        formatter: function (value, row, index) {
                            //获取每页显示的数量
                            var pageSize = $('#table').bootstrapTable('getOptions').pageSize;
                            //获取当前是第几页  
                            var pageNumber = $('#table').bootstrapTable('getOptions').pageNumber;
                            //返回序号，注意index是从0开始的，所以要加上1
                            return pageSize * (pageNumber - 1) + index + 1;
                        }
                    },
                    {
                        field: "username",
                        title: "用户名",
                        titleTooltip: "用户名"
                    },
                    {
                        field: "employee_name",
                        title: "姓名",
                    },
                    {
                        field: "employee_itcode",
                        title: "ITCode",
                    },
                    {
                        field: "tel",
                        title: "电话",
                    },
                    {
                        field: "email",
                        title: "邮箱",
                    },
                    {
                        field: 'operator',
                        title: '操作',
                        align: 'center',
                        formatter: function (value, row, index) {

                            return '<a href="#">' +
                                '<a href="#passwordReset" title="密码重置">' +
                                '<i class="glyphicon glyphicon-repeat text-danger"></i> ' +
                                '</a>'+
                            '<a href="#">' +
                            '<a href="#" data-toggle="modal" title="修改">' +
                            '<i class="glyphicon glyphicon-pencil"></i>' +
                            '</a>' +
                            '<a href="javascript:void(0)" data-toggle="modal" title="删除">' +
                            '<i class="glyphicon glyphicon-trash text-danger"></i>' +
                            '</a>';
                        },
                        events: {
                            'click a[title=密码重置]': function (e, value, row, index) {
                                if (confirm('此操作不可逆，请确认是否重置该用户密码？')) {
                                    var id_password = row.id;//注意：大小写
                                    $.ajax({
                                        url: "PasswordReset",
                                        data: { id: id_password },
                                        method: "get",
                                        success: function (result) {
                                            $("#table").bootstrapTable('refresh');
                                            alert(result.Message);
                                        }
                                    });
                                }
                            },
                            'click a[title=删除]': function (e, value, row, index) {
                                if (confirm('此操作不可逆，请确认是否删除？')) {
                                    var id = row.id;
                                    $.ajax({
                                        url: "Delete",
                                        data: { id: id },
                                        method: "get",
                                        success: function (result) {
                                            $("#table").bootstrapTable('refresh');
                                            alert(result.Message);
                                        }
                                    });
                                }
                            },
                            'click a[title=修改]': function (e, value, row, index) {

                                var id = row.id;
                                $.ajax({
                                    url: "Update",
                                    data: { id: id },
                                    method: "get",
                                    success: function (result) {
                                        $("#UpdateModal-body").html(result);
                                        $("#UpdateModal").modal();
                                    }
                                });
                            }
                        }
                    }
                ],
                onClickRow: function (row, $element) {
                    $element.css("background-color", "238,241,245");
                },
                locale: "zh-CN",//中文支持
                //detailView:true,//是否显示详情折叠
                detailFormatter: function (index, row, element) {
                    var html = '';
                    $.each(row, function (key, val) {
                        html += "<p>" + key + ":" + val + "</p>"
                    });
                    return html;
                },
                responseHandler: function (res) {
                    if (res.Success == true) {
                        var result = {
                            total: res.Total,
                            rows: res.Rows
                        }
                        return result;
                    }
                    else {
                        location.href = "/Account/Login";
                    }
                }
            })
        }

        function SysUserInserSubmit()
        {
            $.ajax({
                type: "POST",
                dataType: "json",
                url: "Insert",
                data: $("#from").serialize(),
                success: function (result) {
                    if (result.Success == true) {
                        $("#InserModal").modal('hide');
                        alert(result.Message);
                        $('#table').bootstrapTable('refresh', { pageNumber: 1 });
                    }
                    if (result.Success == false) {
                        alert(result.Message);
                    }
                },
                error: function (event) {
                    alert("异常！");
                }
            });
        }

        function SysUserUpdateSubmit() {
            $.ajax({
                type: "POST",
                dataType: "json",
                url: "Update",
                data: $("#from").serialize(),
                success: function (result) {
                    if (result.Success == true) {
                        $("#UpdateModal").modal('hide');
                        alert(result.Message);
                        $('#table').bootstrapTable('refresh', { pageNumber: 1 });
                    }
                    if (result.Success == false) {
                        alert(result.Message);
                    }
                },
                error: function (event) {
                    alert("异常！");
                }
            });
        }

        function SysUserInserHide()
        {
            $("#InserModal").modal('hide');
        }
        function SysUserUpdateHide() {
            $("#UpdateModal").modal('hide');
        }

    </script>
}


